
<footer class="container-footer" id="footer">
		<h3>para mas informacion visite a la <a href="https://coronaviruscolombia.gov.co/Covid19/index.html">pagina
				oficial del gobierno de colombia</a> </h3>
		<h2>o</h2>
		<h3>visite a algun centro especializado cercano a su localidad</h3>
		<ul class="redes-sociales">
			<li class="social"><a href="facebook.com" class="boton-redes"><i class="fab fa-facebook"></i></a>
			</li>
			<li class="social"><a href="youtube.com" class="boton-redes"><i class="fab fa-youtube"></i></a></li>
			<li class="social"><a href="twitter.com" class="boton-redes"><i class="fab fa-twitter"></i> </a></li>
		</ul>
	</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



</html>